.scroll-down nav {
  transform: translate3d(0, -100%, 0);
  background-color: #1a1921;
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  z-index: 1000;
  transition: all 300ms ease-in-out;
}

.flex-nav {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--font-light);
  border-bottom: 1px solid var(--font-light);
  padding: 0 1rem;
}

.nav-logo {
  flex: 0.5;
  padding: 1rem 0;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  border: transparent;
  background: transparent;
  color: var(--font-light);
  font-size: 22px;
}

.nav-links {
  display: none;
  height: 100vh;
  overflow: hidden;
  justify-content: space-evenly;
}

.nav-link {
  list-style: none;
  margin: 1.25rem 0;
  border-bottom: 2px solid whitesmoke;
  font-family: 'Bebas Neue', cursive, sans-serif;
  width: 300px;
  padding-left: 5px;
  position: relative;
}

/* hover slider */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  margin-top: 18px;
  right: 0;
  background-color: var(--accent-color);
  transition: all 0.2s ease;
}

/* hover slider */
.nav-link:hover::after {
  width: 100%;
  left: 0;
  background-color: var(--accent-color);
}

.nav-active {
  display: flex;
  place-content: center;
  background-color: var(--call-to-action);
  z-index: 10;
}

/* TODO: This is because the scrolling with the fixed causes strangeness there is likely a better way to sort this out */
.donations,
.hero-wrapper {
  margin-top: 90px;
}

.main {
  height: 600px;
  display: flex;
  place-content: center;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: rgba(46, 45, 51, 0.6);
  background-image: url('../assets/hero_boy-semi-final-2.png');
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-size: auto;
  background-position: right;
  animation: fade-in 3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main::before {
  content: 'WAY TO HEALTH';
  position: absolute;
  top: 250px;
  transform: translate(0%);
  color: var(--bg-color);
  font-size: 70px;
  font-family: 'Bebas Neue', sans-serif;
}

.main__call-to-action {
  content: 'Donate';
  position: absolute;
  bottom: 50px;
  transform: translate(0%);
  font-size: 1.375rem;
  padding: 0.2rem 0.625rem;
  color: var(--font-light);
  background-color: var(--call-to-action);
  transition: all 0.4s ease-in-out;
  font-family: 'Bebas Neue', sans-serif;
}

.main__call-to-action:hover {
  display: inline-block;
  color: var(--accent-color);
  transform: translate(0.5rem);
}

.whoWeAre__body p {
  text-align: left;
  margin: 10px 0 30px;
  padding: 0 10px;
}

.vision-values-block {
  display: flex;
  margin-left: auto;
  gap: 10%;
  max-width: 80%;
}

.weServe {
  border-bottom: 1px solid var(--font-light);
}

.weServe__header {
  border-top: 1px solid var(--font-light);
  border-bottom: 1px solid var(--font-light);
  text-align: center;
  position: relative;
}

.weServe__header-text {
  line-height: 0.8;
  font-size: 42px;
  margin-top: 25px;
  flex: 1;
}

.weServe__header-img {
  margin-top: 20px 0px 30px;
}

.weServe__header span {
  color: var(--accent-color);
}

.weServe__body p {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  margin: 10px 0 30px;
  padding: 0 10px;
}

.weServe__header-img {
  margin-top: 25px;
}

.weServe__header-img img {
  filter: sepia(70%);
  opacity: 85%;
}

.modal-btn {
  background: transparent;
  outline: none;
  border: none;
  color: var(--accent-color);
  font-size: 16px;
  letter-spacing: 2px;
  pointer-events: auto;
  cursor: pointer;
  touch-action: manipulation;
  padding: 5px 20px 40px 12px;
  position: relative;
}

.modal-btn:hover {
  color: #64adbf;
}

dialog {
  font-family: 'Raleway', sans-serif;
  color: var(--bg-color);
  transition: all 0.5s ease-in-out;
  border-color: var(--accent-color);
  transform: translateX(-100%);
}

dialog button {
  touch-action: manipulation;
}

dialog a {
  color: var(--bg-color);
}

dialog a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

dialog[open] {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: inherit;
  padding: 10px 25px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog::backdrop {
  background-color: var(--font-light);
  backdrop-filter: blur(1px);
}

.close-btn {
  background: transparent;
  border: 1px solid var(--bg-color);
  padding: 5px 15px;
  letter-spacing: 1.5px;
  transition: all 0.4s ease-in-out;
}

.close-btn:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--font-light);
  border: 1px solid var(--accent-color);
}

.missionTrips {
  text-align: center;
}

.missionTrips__header {
  border-bottom: 1px solid var(--font-light);
  text-align: center;
  position: relative;
}

.missionTrips__body p {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-weight: 500;
  margin: 30px 45px 20px 50px;
  padding: 0 30px;
}

.missionTrips__header-text {
  line-height: 0.8;
  font-size: 42px;
  margin-top: 25px;
  flex: 1;
}

.missionTrips__header-text span {
  color: var(--accent-color);
}

.scripture {
  border: solid 1px transparent;
  font-family: 'Raleway', sans-serif;
  margin: 50px 45px 60px 45px;
  padding: 0 30px;
  overflow-wrap: normal;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

/* embeded video carousel */
/* *********************** */

.videos-carousel-wrapper {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 3rem 0;
}

.videos-carousel {
  display: flex;
  justify-content: center;
  height: 250px;
  margin: 50px;
  pointer-events: none;
}

.videos-carousel .carousel-item {
  background: var(--call-to-action);
  color: var(--font-light);
  max-width: 450px;
  width: 100%;
  padding: 2.5rem;
  border-radius: 24px;
  box-shadow: 0px 22px 34px rgb(22 28 45 / 18%);
  transition: all 0.3s ease-in-out;
  position: absolute;
  text-align: center;
  opacity: 0;
  z-index: -1;
}

.videos-carousel .item-title a {
  pointer-events: auto;
}
.carousel-item.active {
  transform: translate(0px, -10%);
  z-index: 10;
  opacity: 1;
}

.carousel-item.next,
.carousel-item.prev {
  opacity: 0.25;
}

.carousel-item.prev {
  transform: translateX(-75%);
}
.carousel-item.next {
  transform: translateX(75%);
}

.carousel-item .item-title {
  margin-top: 20px;
}

/* banner image */
.banner-img {
  margin-bottom: 20px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

.how-to-help__header {
  font-family: 'Raleway', sans-serif;
  height: auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.how-to-help__header-text {
  line-height: 1.1;
  font-size: 75px;
  margin-top: 30px;
  margin-bottom: 25px;
  flex: 1;
  font-weight: 400;
  font-family: 'Bebas Neue', cursive, sans-serif;
}

.how-to-help__header-text span {
  color: var(--accent-color);
}

.how-to-help__body {
  padding: 0 30px;
  display: flex;
}

.how-to-help__body p {
  margin: 30px 45px 20px 35px;
  padding: 0 20px;
  overflow-wrap: normal;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
}

.youtube {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube iframe {
  width: 675px;
  height: 400px;
  border: 1px solid #838385;
  padding: 10px;
  margin-left: 5px;
  border-radius: 1%;
  box-shadow: 0 8px 36px 0 #404045;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.upcoming-events {
  height: auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.upcoming-events__body {
  padding: 0 30px;
  display: flex;
}

.upcoming-events__body p {
  margin: 30px 45px 20px 35px;
  padding: 0 20px;
  text-align: left;
}

.container__slide-buttons {
  margin-top: 100px;
  background: none;
  border: none;
  outline: none;
  color: var(--call-to-action);
  font-size: 32px;
  transition: all 0.3s ease-in-out;
  opacity: 0.75;
  margin-top: 100px;
}

.container__slide-buttons button:hover {
  opacity: 1;
}

.container__slide-buttons .slide-ctrl {
  cursor: pointer;
}

.container__slide-buttons button:nth-child(n) {
  padding: 10px;
}
.container__slide-buttons .fas {
  font-size: 25px;
}

.item-video {
  aspect-ratio: 16 / 9;
}

.item-video iframe {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--font-light);
  text-align: center;
}

footer .footer__socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  font-size: 30px;
  width: 100%;
  max-width: 450px;
}

footer .footer__socials span {
  flex: 1;
}

.socials-fb i {
  color: #1877f2;
}
/* .socials-tw i {
  color: #1c96e8;
}
.socials-ig i {
  color: #f65990;
}
.socials-wa i {
  color: #00c200;
} */
.socials-yt i {
  color: #ff0000;
}

footer .footer__text {
  margin-top: 30px;
  padding: 0 5px;
}

footer .footer__text span {
  font-family: 'Bebas Neue', cursive, sans-serif;
  color: var(--accent-color);
  font-size: 18px;
}

/* ABOUT PAGE */

#whoWeServe {
  margin-top: 10%;
}

#whoWeServe p {
  column-count: 2;
  margin: 30px 45px 20px 35px;
  padding: 50px 20px 30px 20px;
  column-gap: 50px;
}

#whoWeAre {
  margin-top: 2%;
}

.vision-values-block {
  text-align: left;
  margin: 30px auto;
}

.vision-values-block p,
.faith li {
  font-weight: 500;
  font-size: 18px;
}

.statement {
  margin: 0 30px;
  padding: 0 20px;
}

#boardMembers {
  margin-top: 5%;
}

.boardMember_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.125rem 0;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.boardMember_card {
  align-items: center;
  margin: 20px 15px;
  padding: 20px 25px;
  border: 1px solid var(--font-light);
  border-radius: 10px;
  box-shadow: 0 8px 36px 0 #404045;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  height: 800px;
  width: 380px;
  margin-top: 30px;
}

.boardMember_image img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
}

.boardMember_card h2 {
  margin-top: 40px;
  padding-left: 10px;
}

.boardMember_bio {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 20px 10px 0px;
  padding: 0px 20px 0px 10px;
  width: 340px;
  height: 370px;
  overflow-y: auto;
}

.boardMember_bio::-webkit-scrollbar {
  width: 10px;
}

.boardMember_bio::-webkit-scrollbar-track {
  background: var(--bg-color);
}

.boardMember_bio::-webkit-scrollbar-thumb {
  background: var(--call-to-action);
}

.boardMember_bio::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color);
}

.contactUs {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--font-light);
  text-align: center;
  gap: 1rem;
}

.contactUs .contact-wrapper i {
  color: var(--call-to-action);
  font-size: 42px;
}

.contactUs .contact-wrapper .contact-email {
  color: var(--accent-color);
}

/* UTILITY CSS */

.block-text-header {
  line-height: 1.1;
  font-size: 75px;
  margin-top: 30px;
  margin-bottom: 35px;
  flex: 1;
  font-weight: 400;
  font-family: 'Bebas Neue', cursive, sans-serif;
  text-align: center;
}

.block-text-header span {
  color: var(--accent-color);
}

.block-text {
  margin: 10px 0 30px;
  padding: 0 10px;
  overflow-wrap: normal;
  font-weight: 500;
  font-size: 18px;
}

h2 {
  font-family: 'Bebas Neue', cursive, sans-serif;
}

/* Our Team */

.our-team__header {
  font-family: 'Raleway', sans-serif;
  height: auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.our-team__body p {
  margin: 30px 45px 20px 35px;
  padding: 0 20px;
  overflow-wrap: normal;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}

/* Flip Card */

.card-wrapper {
  border: solid 1px transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 0;
  padding: 0 1.5rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(74, 74, 74, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: var(--flip-card);
}

.flip-card-front img {
  width: 300px;
  height: 280px;
  border-radius: 10px 10px 0px 0px;
}

.flip-card-front h1 {
  color: var(--call-to-action);
  line-height: 12px;
  margin-bottom: 0;
  margin-top: 15px;
  font-weight: 600;
}

.flip-card-front h3 {
  color: var(--call-to-action);
  line-height: 12px;
  margin-bottom: 0;
  margin-top: 15px;
}

.flip-card-back {
  background-color: var(--accent-color);
  color: var(--font-light);
  transform: rotateY(180deg);
}

.flip-card-back p {
  overflow-wrap: normal;
  text-align: center;
  font-weight: 500;
  margin: 20px 20px;
}

/* Public Documents */

.public-documents {
  border: solid 1px transparent;
  height: auto;
  text-align: center;
  justify-content: center;
  margin: 3rem 0;
}

.public-documents__body {
  padding: 0 30px;
  text-align: center;
}

.public-documents__body p {
  margin: 30px 45px 20px 75px;
  padding: 0 20px;
  overflow-wrap: normal;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}

.public-document__link,
.link-wrapper {
  border: solid 1px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.public-document__link {
  margin: 0 auto;
  padding: 0 3rem;
}

.link-wrapper {
  margin: 1.5rem 0;
}

.public-documents__link h3 {
  text-align: left;
  margin-left: 50px;
  font-size: 18px;
}

.view,
.download a {
  margin: 0px 5px 0px 15px;
  padding: 0 20px;
  overflow-wrap: normal;
  text-align: left;
  font-weight: 500;
}

a i {
  color: var(--accent-color);
  margin-right: 15px;
}

/* Gallery */

.main-gallery {
  margin-top: 10rem;
}
.main-gallery header {
  height: 10rem;
}
.gallery-images {
  height: 100rem;
  background-color: var(--call-to-action);
  width: 100vw;
  max-width: 100%;
  position: fixed;
  left: 0;
  right: 0;
}
.gallery-images .images {
  width: 75%;
  background-color: white;
  border-radius: 10px;
  height: 350px;
  color: black;
  margin: 3rem auto;
}
